/* RIGHT TO LEFT */
/* RIGHT TO LEFT */
@media (max-width: 479px) {
  #crossselling_list .bx-next, .accessories-block .block_content .bx-next, #productscategory_list .bx-next {
    right: 30px;
  }

  .product_list .ajax_block_product:hover .product-image-container .quick-view {
    display: none;
  }
  .product_list .ajax_block_product:hover .product-image-container .product_img_link img {
    opacity: 1;
  }

  #thumbs_list li {
    width: 60px;
  }

  #thumbs_list {
    width: 270px;
  }

  .top-pagination-content .compare-form,
  .bottom-pagination-content .compare-form {
    width: 100%;
    padding-bottom: 10px;
    clear: both;
  }

  #cmsinfo_block > div {
    width: 100%;
    border-top: 1px solid #d9d9d9;
  }
  #cmsinfo_block > div + div {
    border-left: none;
    padding-left: 10px;
    min-height: 1px;
    padding-bottom: 15px;
  }
  .rtl #cmsinfo_block > div + div {
    padding-right: 10px;
    /* padding-left: $inherit; */
  }

  .cart_voucher fieldset #discount_name {
    width: 177px;
  }
}
@media (max-width: 767px) {
  .widget-manufacture .carousel-control {
    top: 50%!important;
    margin-top: -41px;
  }

  .logo-manu {
    text-align: center;
  }

  .sidebar {
    position: relative;
  }
  .sidebar .title_block:after {
    content: "ï§";
    display: block;
    font-family: "FontAwesome";
    font-size: 18px;
    font-weight: normal;
    height: 36px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 28px;
  }
  .rtl .sidebar .title_block:after {
    left: 0;
    right: auto;
  }

  header .g-dropdown .groupe-btn {
    padding: 5px;
    cursor: pointer;
  }
  header .g-dropdown ul.links li {
    display: block;
  }

  #topbar .nav .container .row {
    border: 0;
  }

  .products_block .nav-tabs {
    position: inherit;
  }

  .products_block .nav-tabs > li {
    margin-bottom: 5px;
  }

  .box-info-product .exclusive:before {
    display: none;
  }

  #send_friend_form {
    width: 280px;
  }

  .content_sortPagiBar .sortPagiBar #productsSortForm select {
    max-width: 160px;
  }

  .top-pagination-content ul.pagination > a b,
  .top-pagination-content ul.pagination > span b,
  .bottom-pagination-content ul.pagination > a b,
  .bottom-pagination-content ul.pagination > span b {
    display: none;
  }

  #block_contact_infos {
    border: none;
  }
  #block_contact_infos > div {
    padding-left: 0;
  }
  .rtl #block_contact_infos > div {
    padding-right: 0;
    /* padding-left: $inherit; */
  }

  #social_block {
    width: 100%;
    text-align: center;
  }
  #social_block ul {
    float: none;
    display: inline-block;
  }
  #social_block h4 {
    float: none;
    margin-bottom: 10px;
  }

  #poweredby {
    text-align: center;
  }

  #footnav {
    text-align: center;
    margin-top: 10px;
  }

  #footer #newsletter_block_left .form-group .form-control {
    float: none;
  }

  #footer #newsletter_block_left {
    display: inline-block;
  }
  #footer #newsletter_block_left .newsletter-input {
    max-width: 99px !important;
  }

  #facebook_block,
  #cmsinfo_block {
    width: 100%;
    min-height: 1px;
  }

  #facebook_block h4 {
    padding-top: 20px !important;
  }

  #cmsinfo_block {
    border: none;
    margin-top: 10px;
  }
  #cmsinfo_block > div {
    padding-top: 20px;
  }

  #pagenotfound .pagenotfound .form-control {
    margin: 0 auto 15px auto;
    display: block;
  }

  #manufacturers_list.list li,
  #suppliers_list.list li {
    text-align: center;
  }
  #manufacturers_list.list li .middle-side,
  #suppliers_list.list li .middle-side {
    padding-right: 15px;
    padding-left: 15px;
  }
  .rtl #manufacturers_list.list li .middle-side, .rtl
  #suppliers_list.list li .middle-side {
    padding-left: 15px;
    /* padding-right: $inherit; */
  }
  .rtl #manufacturers_list.list li .middle-side, .rtl
  #suppliers_list.list li .middle-side {
    padding-right: 15px;
    /* padding-left: $inherit; */
  }
  #manufacturers_list.list li .right-side-content,
  #suppliers_list.list li .right-side-content {
    min-height: 1px;
    padding: 0;
    border: none;
  }
  #manufacturers_list.list li .right-side-content .product-counter,
  #suppliers_list.list li .right-side-content .product-counter {
    top: 0;
  }
  #manufacturers_list.grid li .product-container,
  #suppliers_list.grid li .product-container {
    border-bottom: none;
  }

  #order-detail-content #cart_summary table, #order-detail-content #cart_summary thead, #order-detail-content #cart_summary tbody, #order-detail-content #cart_summary th, #order-detail-content #cart_summary td, #order-detail-content #cart_summary tr {
    display: block;
  }
  #order-detail-content #cart_summary thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .rtl #order-detail-content #cart_summary thead tr {
    right: -9999px;
    left: auto;
  }
  #order-detail-content #cart_summary tr {
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
  }
  #order-detail-content #cart_summary td {
    border: none;
    position: relative;
    width: 50%;
    float: left;
    white-space: normal;
  }
  .rtl #order-detail-content #cart_summary td {
    float: right;
  }
  #order-detail-content #cart_summary td.cart_avail {
    clear: both;
  }
  #order-detail-content #cart_summary td.cart_quantity {
    clear: both;
    padding: 9px 8px 11px 18px;
  }
  .rtl #order-detail-content #cart_summary td.cart_quantity {
    padding: 9px 18px 11px 8px;
  }
  #order-detail-content #cart_summary td.cart_delete {
    width: 100%;
    clear: both;
    text-align: right;
  }
  .rtl #order-detail-content #cart_summary td.cart_delete {
    text-align: left;
  }
  #order-detail-content #cart_summary td.cart_delete:before {
    display: inline-block;
    padding-right: 0.5em;
    position: relative;
    top: -3px;
  }
  #order-detail-content #cart_summary td div {
    display: inline;
  }
  #order-detail-content #cart_summary td:before {
    content: attr(data-title);
    display: block;
  }
  #order-detail-content #cart_summary tfoot td {
    float: none;
    width: 100%;
  }
  #order-detail-content #cart_summary tfoot td:before {
    display: inline;
  }
  #order-detail-content #cart_summary tfoot tr .text-right, #order-detail-content #cart_summary tfoot tr .price {
    display: block;
    float: left;
    width: 50%;
  }
  .rtl #order-detail-content #cart_summary tfoot tr .text-right, .rtl #order-detail-content #cart_summary tfoot tr .price {
    float: right;
  }

  #footer #newsletter_block_left {
    padding-left: 0;
  }
  .rtl #footer #newsletter_block_left {
    padding-right: 0;
    /* padding-left: $inherit; */
  }

  #layer_cart .layer_cart_cart .button-container {
    text-align: center;
  }
  #layer_cart .layer_cart_cart .button-container .btn {
    float: none !important;
  }
}
@media (max-width: 990px) {
  html {
    background: none;
  }

  .navbar-header .navbar-toggle {
    display: block;
    float: left;
    margin: 5px 0 7px 20px;
  }
  .rtl .navbar-header .navbar-toggle {
    float: right;
  }
  .rtl .navbar-header .navbar-toggle {
    margin: 5px 20px 7px 0;
  }

  .collapse.navbar-collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none;
  }
  .navbar-nav > li {
    float: none;
  }

  .ajax_block_product:hover .leo-more-info {
    display: none!important;
    opacity: 0;
  }
}
@media (max-width: 991px) {
  .manu-logo a {
    display: block;
  }
  .manu-logo a img {
    width: 100px;
  }

  #social_block {
    margin-top: 15px;
  }

  #facebook_block,
  #cmsinfo_block {
    min-height: 348px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .rtl #facebook_block, .rtl
  #cmsinfo_block {
    padding-right: 13px;
    /* padding-left: $inherit; */
  }
  .rtl #facebook_block, .rtl
  #cmsinfo_block {
    padding-left: 13px;
    /* padding-right: $inherit; */
  }

  #facebook_block h4 {
    font-size: 18px;
  }

  #cmsinfo_block em {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
  }

  #header_right {
    width: 57%;
  }
}
@media (max-width: 600px) {
  .products_block .tab-content .carousel .carousel-control {
    top: -105px;
  }

  thead {
    display: none;
  }

  table td {
    display: block!important;
    width: auto!important;
    text-align: center!important;
    border-right: 0;
  }

  #center_column .best-seller .title_block:after {
    width: 70%;
  }

  a.ajax_add_to_cart_button:before {
    width: 30px;
    height: 30px;
  }

  #header_right {
    width: 54%;
  }
}
@media (max-width: 480px) {
  header .nav .row {
    padding: 10px 0;
  }

  #header-main {
    height: 100px;
    position: relative;
  }

  #cavas_menu {
    position: absolute;
    right: 0;
    top: -35px;
  }
  .rtl #cavas_menu {
    left: 0;
    right: auto;
  }

  .new-box, .sale-box {
    top: 15px;
  }

  .product_list.grid .ajax_block_product .product-container .functional-buttons {
    opacity: 1;
  }
  .product_list.grid .ajax_block_product:first-child {
    border-top: 0;
  }

  #topbar .nav {
    min-height: 60px;
  }

  .button.button-medium span {
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
  }
  .rtl .button.button-medium span {
    padding-left: 7px;
    /* padding-right: $inherit; */
  }
  .rtl .button.button-medium span {
    padding-right: 7px;
    /* padding-left: $inherit; */
  }
  .button.button-medium span i.left {
    margin-right: 5px;
  }
  .rtl .button.button-medium span i.left {
    margin-left: 5px;
    /* margin-right: $inherit; */
  }
  .button.button-medium span i.right {
    margin-left: 5px;
  }
  .rtl .button.button-medium span i.right {
    margin-right: 5px;
    /* margin-left: $inherit; */
  }

  .button.exclusive-medium span {
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
  }
  .rtl .button.exclusive-medium span {
    padding-left: 7px;
    /* padding-right: $inherit; */
  }
  .rtl .button.exclusive-medium span {
    padding-right: 7px;
    /* padding-left: $inherit; */
  }

  .page-heading span.heading-counter {
    float: none;
    display: block;
    padding-top: 5px;
  }

  #center_column .best-seller .title_block:after {
    display: none;
  }

  .first-item-of-tablet-line {
    clear: none;
  }

  .first-in-line {
    clear: none;
  }

  .first-item-of-mobile-line {
    clear: both;
  }

  .cart_navigation a {
    font-size: 12px;
    padding: 5px;
  }

  #layer_cart {
    margin: 0 5px;
  }
  #layer_cart .layer_cart_cart .button-container .btn {
    float: none !important;
  }
}
@media (min-width: 991px) {
  .off-canvas-active > #page,
  .off-canvas-active > #off-canvas-nav {
    transform: translateX(0px) !important;
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
    -ms-transform: translateX(0px) !important;
    -o-transform: translateX(0px) !important;
    position: relative!important;
  }

  #off-canvas-button {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .block .title_block, .block h4 {
    font-size: 14px;
  }
  .block .products-block .products-block-image {
    float: none;
    display: inline-block;
    margin: 0 auto 10px;
    text-align: center;
  }

  #thumbs_list {
    width: 225px;
    margin-left: 0;
  }
  #thumbs_list li {
    width: 50px;
  }
  #thumbs_list li img {
    width: 68px;
    height: 68px;
  }

  #usefull_link_block li {
    float: none!important;
  }
  #usefull_link_block li a.print {
    margin: 8px 0 0;
    padding: 0;
    border: none;
  }

  #cavas_menu {
    position: absolute;
    top: 0;
  }

  #slideshow .welcome:before {
    display: none;
  }
  #slideshow .welcome:after {
    display: none;
  }
  #slideshow .welcome .block {
    padding-bottom: 5px;
  }
  #slideshow .welcome .block_content {
    border-bottom: 0;
    height: 79px;
  }
}
@media (max-width: 1199px) {
  .zoomdiv {
    display: none !important;
  }
}
@media (max-width: 1196px) and (min-width: 992px) {
  .editortool .label-customize {
    display: none;
  }

  .carousel-inner .first_item .leo-more-info, .tab-pane .first_item .leo-more-info {
    left: auto;
    right: -79px;
    border-width: 1px 1px 1px 0;
    border-style: solid solid solid none;
  }
  .rtl .carousel-inner .first_item .leo-more-info, .rtl .tab-pane .first_item .leo-more-info {
    left: -79px;
    right: auto;
  }
  .rtl .carousel-inner .first_item .leo-more-info, .rtl .tab-pane .first_item .leo-more-info {
    border-width: 1px 0 1px 1px;
  }
  .rtl .carousel-inner .first_item .leo-more-info, .rtl .tab-pane .first_item .leo-more-info {
    border-style: solid none solid solid;
  }

  .product_list .functional-buttons div a {
    font-size: 9px;
  }

  #thumbs_list {
    width: 274px;
    margin-left: 10px;
  }
  .rtl #thumbs_list {
    margin-right: 10px;
    /* margin-left: $inherit; */
  }
  #thumbs_list li {
    width: 60px;
  }

  #header_right {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  #guestTracking .form-group {
    overflow: hidden;
  }
  #guestTracking .form-group i {
    padding-left: 10px;
  }
  .rtl #guestTracking .form-group i {
    padding-right: 10px;
    /* padding-left: $inherit; */
  }
  #guestTracking .form-control {
    float: left;
  }
  .rtl #guestTracking .form-control {
    float: right;
  }
  #guestTracking label {
    float: left;
    clear: both;
    width: 100%;
  }
  .rtl #guestTracking label {
    float: right;
  }
}
